<div class="footer col-12">
  <p class="footer_copyright">Trabalho de fitas fitas</span></p>
</div>

<style type="text/css">
  .footer {
    height: 8vh;
    background-color: #17a2b8;
    display: flex;
    align-items: center;
  }

  .footer_copyright {
    color: #fff;
    margin: auto;
  }

</style>