<header class="header">
  <div class="header_container col-12">
    <div class="header_title col-12 col-md-3">
      <%= link_to 'SR', root_path, class: 'title_p'%>
    </div>
  </div>
</header>

<style type="text/css">
  .header_container {
    height: 9vh;
    background-color: #17a2b8;
    position: relative;
  }
  .header_title {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .title_p {
    margin: auto;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
  }
  .title_p:hover {
    text-decoration: none;
    color: #fff;
  }

</style>